<h1>Hola desde Login de Firebase</h1>

<div class="loginUser" *ngIf="UserLogin!=null">
  <img src="{{UserLogin.photoURL}}" alt="">
  <h2>{{UserLogin.displayName}}</h2>
  <h3>{{UserLogin.email}}</h3>
  <p>{{UserLogin.uid}}</p>
</div>


<button (click)="usuarios()">usuarios</button>
<button (click)="login()">login</button>
<ul *ngFor="let item of base">
  <li>
    <img src="{{item.photoURL}}" alt="">
    <h3>{{item.displayName}}</h3>
    <p>{{item.email}}</p>
  </li>
</ul>

<router-outlet></router-outlet>
